body {

}
.tabuleiro {
	border: none;
}
.tabuleiro tr td {
	width: 100px;
	height: 100px;
	border-right: solid;
	text-align: center;
	font-size: 70px;
}
.tabuleiro tr td:hover {
	background: #eeDDcc
}
.tabuleiro tr td:last-child {
	border-right: none;
}
.tabuleiro tr td {
	border-bottom: solid;
}
.tabuleiro tr:last-child td {
	border-bottom: none;
}
.jogo {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: #6777A8;
	padding: 40px;
}
.titulo {
	text-align: center;
}
.botao {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
